<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ACİL AI MODEL</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

  
</head>

<body>
  <header>
    <h1>ACİL AI MODEL</h1>
  </header>
  <main>
    <!-- First form on the left side -->
    <div class="form-container">
      <form method="post" action="{% url 'predictor' %}">
        {% csrf_token %}
        <textarea name="text_input" id="inputArea" placeholder="Buraya metni girin..."></textarea>
        <button type="submit" id="analyzeButton" class="styledButton">Ağırlık Sınıflandırması</button>
      </form>

      <div class="Area">
        <p><strong>Gönderilen Metin:</strong> <br/><br/>{{ text_input }}</p>
      </div>
      <div class="Area">
        <p><b>Tahmin Sonucu:</b></p>
        <ul>
          {% for category, score in sorted_predictions %}
            <li>{{ category }}: {{ score }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Second form on the right side -->
    <div class="form-container">
      <form method="post" action="{% url 'predictor2' %}">
        {% csrf_token %}
        <textarea name="text_input" id="inputArea" placeholder="Buraya metni girin..."></textarea>
        <button type="submit" id="analyzeButton" class="styledButton">Ağırlık Sınıflandırması 2</button>
      </form>

      <div class="Area">
        <p><strong>Gönderilen Metin:</strong> <br/><br/>{{ text_input }}</p>
      </div>
      <div class="Area">
        <p><b>Tahmin Sonucu:</b></p>
        <ul>
          {% for category, score in sorted_predictions2 %}
            <li>{{ category }}: {{ score }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>
